huggingface-hub==0.26.2
langchain==0.3.7
langchain-chroma==0.1.4
langchain-community==0.3.7
langchain-core==0.3.17
langchain-huggingface==0.1.2
langchain-ollama==0.2.0
langchain-text-splitters==0.3.2
langdetect==1.0.9
langsmith==0.1.142
llama-index-core==0.11.23
ollama==0.3.3
pysqlite3-binary
